body {
  background-color: #181818;
}

main {
  display: flex;
}

.form {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h3 {
  width: 50%;
  margin: 15px 0;
  font-size: 30px;
  color: #FFFFFF;
}

input {
  width: 50%;
  border: none;
  height: 35px;
  border-radius: 5px;
  background-color: #D9D9D9;
}

button {
  border: none;
  font-size: 20px;
  margin-top: 30px;
  color: #000000;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #ADFF00;
}

table {
  width: 80%;
  border: 1px solid #ADFF00;
}

.desc {
  border-bottom: 1px solid #ADFF00;
}

th {
  font-size: 20px;
  padding: 12px 0;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
}

td {
  padding: 12px 0;
  color: #FFFFFF;
  text-align: center;
}

.item {
  border-bottom: .5px solid #ffffff70;
}